.section {
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.68);
}

.button {
  margin-top: 0.5rem;
}

.message {
  margin-top: 1rem;
}
